.news-form__title {
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    margin-top: 174px;
}

.news-form__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 74px;
}

.news-form__content {
    max-width: 770px;
    width: 100%;
}

.news-form__scrollbar {
    width: 8px;
    height: 144px;
}

.news-form__image-form {
    width: 100%;
}

.image-form__add-button {
    height: 24px;
    width: max-content;

    display: flex;
    align-items: center;

    background: transparent;
    border: none;
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #2A496B;
}

.image-form__add-button-img {
    fill: #2A496B;
    margin-right: 16px;
}

.news-form__submit-button {
    width: 240px;
    height: 52px;

    background: #E5E31F;
    border-radius: 10px;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #2A4F71;
}

@media only screen and (max-width: 375px) {
    .news-form__subtitle {
        margin-bottom: 50px;
    }

    .news-form__title {
        margin-top: 96px;
        font-size: 32px;
    }
}