@import "../../styles.less";

.news-form {
    font-size: 16px;
}

.news-form__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    @media @screen-mobile {
        font-size: 32px;
    }
}

.news-form__subtitle {
    line-height: 24px;
    margin-bottom: 54px;

    @media @screen-mobile {
        margin-bottom: 20px;
    }
}

.news-form__content {
    max-width: 770px;
    width: 100%;
}

.news-form__image-input {
    margin-top: -9px;
    height: 90px;
}

.news-form__submit-button {
    width: 240px;
    height: 52px;
    margin-top: 44px;

    background: #E5E31F;
    border-radius: 10px;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: @color-text-dark;

    @media @screen-mobile {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .news-form__subtitle {
        margin-bottom: 50px;
    }

    .news-form__title {
        margin-top: 96px;
        font-size: 32px;
    }
}