@import "../../styles.less";

@navigation-height: 52px;

.header {

    background: radial-gradient(
        75.49% 75.49% at 61.01% 75.77%,
        #376a9a 0%,
        #2b5276 100%
    );

    overflow: hidden;

}

.header__content {
    .upper-level();
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header__navigation {
    width: 100%;
    height: 105px;
    margin: 27px auto;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.header__logo {
    height: @navigation-height;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.separation-line {
    height: 14px;
    margin-left: 50px;
    margin-right: 28px;

    border: 1px solid #A9C5E0;
    display: inline-block;

    @media @screen-mobile {
        display: none;
    }
}

.tagline {
    height: 21px;

    font-family: Proxima Nova;
    font-size: 13px;
    line-height: 21px;
    white-space: nowrap;
    color: #A9C5E0;

    @media @screen-mobile {
        display: none;
    }
}

.header__right-block {
    width: auto;
    max-width: 370px;

    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.header__phone {
    margin-bottom: 16px;
    margin-left: 24px;

    @media @screen-mobile {
        display: none;
    }
}

.button-login {
    width: 170px;
    height: @navigation-height;
    margin-left: 28px;
    margin-bottom: 16px;

    background: transparent;
    border: 1px solid @color-accent-yellow;;
    border-radius: 10px;

    font-size: 18px;
    color: @color-accent-yellow;;
}
