@color-accent-yellow: #E5E31F;

@screen-tablet: ~"(max-width: 768px)";
@screen-mobile: ~"(max-width: 375px)";

body {
    font-family: 'Proxima Nova';
    min-width: 240px;
}

.upper-level {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
}