@import "../../styles.less";

@color-text-light: #D0C9D6;
.textarea {
    width: 100%;
    box-sizing: border-box;
    height: 144px;
    resize: none;

    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    padding: 22px 16px;
    border: 1px solid @color-dark;
    border-radius: 6px;
}

.textarea::placeholder {
    opacity: 1;
    color: @color-text-light;
}

.textarea.red::placeholder {
    color: @color-warning;
}

.symbols-count {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
    text-align: right;
    color: @color-text-light;
}

.symbols-count.normal {
    color: inherit;
}

.text-edit__error-message {
    height: 20px;
    padding-left: 17px;
    padding-bottom: 10px;
    color: @color-warning;
}

.text-edit__symbols-red {
    color: @color-warning;
}